{% block leftmenu %}
    <div>Products:</div>
    <ul>
    {% for product in products %}
        <li>
            <div><a href="{% url 'product'  cat_slug=product.category.slug id=product.pk %}">{{ product.name }}</a> [{{ product.details_object.get_short_details }}]</div>
        </li>
    {% endfor %}
    </ul>
{% endblock leftmenu %}

{% block filtermenu %}
    <div>Filters:</div>
    <ul>
    {% for filter in filter_widgets %}
        <li>
            <div>{{ filter.get_html }}</div>
        </li>
    {% endfor %}
    </ul>
{% endblock filtermenu %}