<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header>
    <li><a href="{% url 'index' %}">Main page</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'profile' %}">Your profile, {{ user.username }}</a></li>
    <li><a href="{% url 'logout' %}">Log out</a></li>
    {% else %}
    <li><a href="{% url 'login' %}">Log in</a></li>
    <li><a href="{% url 'signup' %}">Sign up</a></li>
    {% endif %}
    <hr>
</header>
{% block content %}{% endblock content %}

<footer>
    <hr>
    Thank you!
</footer>
</body>
</html>